body {
    background-color: rgb(60, 48, 117);
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    margin: 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: orange;
    border-radius: 50%;
    color: white;
}

.grid-item:hover {
    background-color: orangered;
    box-shadow: 0px 0px 10px 10px white;
}